<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="hero1">Welcome to the Alphard Survey <%= title %> Page</h1>
  </div>
  <% if(typeof displayName == 'string' && displayName) { %>
    <div class="jumbotron"><center><span class="hero2">
      Welcome, <%= displayName %>!<br>
  <% } else { %></center>
    <div class="jumbotron"><center><span class="hero2">
      Looking to create a survey?<br>
      Click the button below to get started!</span></center> <br><br>
      <a class="csta" href="/login"><button class="cstbtn"   >Login/Register</button></a>
  <% } %>
  
    
  </div>
  </style>




</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>