<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container">
  <div class="jumbotron">
    <h1 class="hero1">Welcome to the Alphard Survey <%= title %> Page</h1>
  </div>
  <div class="container">
    Looking to create a survey?
Click the button below to get started!
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
