<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<div class="container">
    <div class="row">
      <div class="offset-md-3 col-md-6">
        <h1><%=title %></h1>
  
        <form class="form" method="post">
  
          <div class="from-group">
            <label for="q1TextField">Question 1</label>
            <p><%= survey.q1 %></p>

          </div>
          <div class="from-group">
            <label for="a2TextField">Answer 1</label>
            <p><%= survey.a1 %></p>
          </div>
  
          <div class="from-group">
            <label for="q2TextField">Question 2</label>
            <p><%= survey.q2 %></p>
          </div>

          <div class="from-group">
            <label for="a2TextField">Answer 2</label>
            <p><%= survey.a2 %></p>
          </div>

          <div class="from-group">
            <label for="q3TextField">Question 3</label>
            <p><%= survey.q3 %></p>
          </div>

          <div class="from-group">
            <label for="a3TextField">Answer 3</label>
            <p><%= survey.a3 %></p>
          </div>

          <div class="from-group">
            <label for="q4TextField">Question 4</label>
            <p><%= survey.q4 %></p>
          </div>

          <div class="from-group">
            <label for="a4TextField">Answer 4</label>
            <p><%= survey.a4 %></p>
          </div>

          <div class="from-group">
            <label for="q5TextField">Question 5</label>
            <p><%= survey.q5 %></p>
          </div>
  
          <div class="from-group">
            <label for="a5TextField">Answer 5</label>
            <p><%= survey.a5 %></p>
          </div>
    
          <a href="/survey-list" class="btn btn-warning">
            <i class="fas fa-undo"></i>Back
          </a>
        </form>
      </div>
    </div>
  </div>
  

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
