<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main class="container">
  <!-- Message Area -->
  <% if(messages.length > 0) {%>
  <div class="alert alert-danger"><%= messages %></div>
  <% } %>

  <body class="login-body">
    <div class="login">
      <div class="avatar">
        <img src="Logo.png" />
      </div>
      <h2>Login</h2>
      <h3>Welcome back!</h3>

      <form class="login-form">
        <div class="textbox">
          <input type="textbox" placeholder="Username" />
        </div>
        <div class="textbox">
          <input type="password" placeholder="Password" />
        </div>
        <button type="submit">LOGIN</button>
        <a href="/register">Register Here!</a>
      </form>
    </div>
  </body>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
